<div class="hero">
	<div class="container">
		<form action="#" class="find-location">
			<input #term (keyup)="search(term.value)" type="text" placeholder="Find your location...">
			<!-- <input type="submit" value="Find"> -->
		</form>
	</div>
</div>

<div>{{ items.query?.results?.channel?.item?.condition?.temp }}</div>

<div class="forecast-table">
	<div class="container" *ngIf="isVisible">
		<div class="forecast-container">
			<div class="today forecast">
				<div class="forecast-header">
					<div class="day">{{ items.query?.results?.channel?.item?.forecast[0].day }}</div>
					<div class="date">{{ items.query?.results?.channel?.item?.forecast[0].date }}</div>
				</div> <!-- .forecast-header -->
				<div class="forecast-content">
					<div class="location">{{ items.query?.results?.channel?.location?.city }}, {{ items.query?.results?.channel?.location?.country }}</div>
					<div class="degree">
						<div class="num">{{ items.query?.results?.channel?.item?.condition?.temp }}<sup>o</sup>{{items.query?.results?.channel?.units?.temperature}}</div>
						<div class="forecast-icon">
							<img src="{{ get_cond_image(items.query?.results?.channel?.item?.forecast[0].code) }}" alt="" width=90>
						</div>
					</div>
					<span><img src="assets/images/icon-wind.png" alt="">{{items.query?.results?.channel?.wind?.speed}} {{items.query?.results?.channel?.units?.speed}}</span>
					<span><img src="assets/images/icon-compass.png" alt="">{{items.query?.results?.channel?.wind?.direction}}</span>
				</div>
			</div>
			<div *ngFor="let forecast of items.query?.results?.channel?.item?.forecast.slice(1,7)" class="forecast">
				<div class="forecast-header">
					<div class="day">{{ forecast.day }}</div>
				</div> <!-- .forecast-header -->
				<div class="forecast-content">
					<div class="forecast-icon">
						<img src="{{ get_cond_image(forecast.code) }}" alt="{{ get_cond_text(forecast.code) }}" width=48>
					</div>
					<div class="degree">{{ forecast.high}}<sup>o</sup>{{items.query?.results?.channel?.units?.temperature}}</div>
					<small>{{ forecast.low }}<sup>o</sup></small>
				</div>
			</div>
		</div>
	</div>
</div>
